USE [master]
GO
/****** Object:  Database [ProductionDB]    Script Date: 7/25/2025 9:08:34 AM ******/
CREATE DATABASE [ProductionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProductionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProductionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductionDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 7/25/2025 9:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DowntimeEvents]    Script Date: 7/25/2025 9:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DowntimeEvents](
	[DowntimeID] [int] IDENTITY(1,1) NOT NULL,
	[LogID] [int] NOT NULL,
	[DowntimeReason] [nvarchar](max) NULL,
	[DowntimeMinutes] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DowntimeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobProductionLogs]    Script Date: 7/25/2025 9:08:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobProductionLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[JobID] [int] NOT NULL,
	[ActualStartTime] [datetime2](7) NOT NULL,
	[ActualEndTime] [datetime2](7) NOT NULL,
	[ShiftHours] [decimal](4, 2) NOT NULL,
	[OvertimeMinutes] [int] NOT NULL,
	[TookBreakMorning] [bit] NOT NULL,
	[TookBreakLunch] [bit] NOT NULL,
	[TookBreakEvening] [bit] NOT NULL,
	[IdealRunRateUsed] [decimal](10, 2) NOT NULL,
	[TotalPieces] [int] NOT NULL,
	[RejectPieces] [int] NOT NULL,
	[TotalDowntimeMinutes] [int] NOT NULL,
	[PlannedProductionMinutes] [int] NOT NULL,
	[RunTimeMinutes] [int] NOT NULL,
	[OEE_Availability] [decimal](5, 2) NOT NULL,
	[OEE_Performance] [decimal](5, 2) NOT NULL,
	[OEE_Quality] [decimal](5, 2) NOT NULL,
	[ConfirmedByUserID] [int] NOT NULL,
	[ConfirmedAt] [datetime2](7) NULL,
	[GoodPieces] [int] NULL,
	[OEE_Total] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 7/25/2025 9:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[LotNumber] [nvarchar](50) NOT NULL,
	[PlannedLotSize] [int] NOT NULL,
	[MachineID] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedByUserID] [int] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[StartTime] [datetime2](7) NULL,
	[EndTime] [datetime2](7) NULL,
	[JobName] [nvarchar](255) NULL,
	[Details] [nvarchar](255) NULL,
	[DepartmentID] [int] NULL,
	[ActualOutput] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Machines]    Script Date: 7/25/2025 9:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Machines](
	[MachineID] [int] IDENTITY(1,1) NOT NULL,
	[MachineName] [nvarchar](100) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DefaultIdealRunRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MachineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/25/2025 9:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [OvertimeMinutes]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [TookBreakMorning]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [TookBreakLunch]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [TookBreakEvening]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [RejectPieces]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [TotalDowntimeMinutes]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT (getdate()) FOR [ConfirmedAt]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0)) FOR [GoodPieces]
GO
ALTER TABLE [dbo].[JobProductionLogs] ADD  DEFAULT ((0.00)) FOR [OEE_Total]
GO
ALTER TABLE [dbo].[Jobs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DowntimeEvents]  WITH CHECK ADD FOREIGN KEY([LogID])
REFERENCES [dbo].[JobProductionLogs] ([LogID])
GO
ALTER TABLE [dbo].[JobProductionLogs]  WITH CHECK ADD FOREIGN KEY([ConfirmedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[JobProductionLogs]  WITH CHECK ADD FOREIGN KEY([JobID])
REFERENCES [dbo].[Jobs] ([JobID])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Machines]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Jobs]  WITH CHECK ADD CHECK  (([Status]='cancelled' OR [Status]='completed' OR [Status]='in-progress' OR [Status]='planning'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='user' OR [Role]='admin'))
GO
USE [master]
GO
